body, table, div {
	text-align: center;
	margin:auto;
	padding: 0px;
	outline: 0px;
	border: 0px;
	border-spacing: 0px;
	font-family: Georgia, sans-serif;
	/*outline: 1px green dotted;*/
}

#category .ui-selecting { 
	background: cornflowerblue; 
}

#category .ui-selected { 
  	background: cornflowerblue; 

 }

#category, #salary_section { 
  	list-style-type: none; 
  	margin: auto; 
  	width: 50%;
  }

 #category li { 
  	padding: 0.4em; 
  	font-size: .9em; 
  	height: 18px; 
  	cursor: pointer;
  }
.box {
	display: inline-flex;
}


.logo {
	height: 5em;
	margin: 7px;
}
.gray {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

#logo-list {
	width: 90%;
}

#salary {
	height: 2em;
	width: 4em;
}



